@font-face {
font-family: 'dadzy';
src: url('fonts/dadzy.eot');
src: url('fonts/dadzy.otf') format('truetype'),
     url('fonts/dadzy.woff') format('woff'),
     url('fonts/dadzy.eot?#iefix') format('embedded-opentype'),
     url('fonts/dadzy.svg#Dadzy') format('svg');
font-weight: normal;
font-style: normal;
}
